@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  color: Black;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  outline: 0.07rem solid black;
}
.cover-page {
  width: 100vw;
  max-width: 100%;
  display: block;
  height: 80vh;
  background: url("./images/rick-and-morty.jpg") no-repeat center center;
  background-size: cover;
}
.title {
  text-transform: uppercase;
  padding: 0 1.3vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
.search-bar {
  align-self: center;
  line-height: 1.6vw;
  padding: 0 1.3vw;
}
